<% @title = 'LivePipe&trade; : Controls' %>
<%= render :partial => 'controls' %>
<%= header 'Controls' %>
<% paragraph do %>Select from the list above to navigate to the tutorial and API for each control, or select a demo below.<% end %>
<%= render :partial => 'examples' %>
