<% @title = 'LivePipe&trade; : Download &amp; Contribute' %>
<%= header 'Download &amp; Contribute' %>
<% paragraph do %>You can clone the latest version of LivePipe UI from GitHub with the following command:<% end %>
<% css do %>git clone git://github.com/saucytiger/livepipe-ui.git<% end %>
<ul>
	<li><a href="http://github.com/saucytiger/livepipe-ui/tree/master">GitHub Repository</a></li>
	<li><a href="http://github.com/saucytiger/livepipe.net-documentation/tree/master">Documentation Repository</a></li>
	<li><a href="http://github.com/saucytiger/livepipe-ui/tarball/master">Download Latest Tarball</a></li>
</ul>

<% paragraph 'Submitting Tickets &amp; Patches' do %>LivePipe UI uses <a href="http://livepipe.lighthouseapp.com/projects/11811-livepipe-ui/overview">Lighthouse as its issue tracker</a>. You have to <a href="http://livepipe.lighthouseapp.com/users/new?to=%2Fprojects%2F11811-livepipe-ui%2Ftickets%2Fnew">register first</a> to <a href="http://livepipe.lighthouseapp.com/projects/11811-livepipe-ui/tickets/new">open a new ticket</a>. Please keep the title concise, and use <a href="http://lighthouseapp.com/help/text-formatting">appropriate text formatting</a> for the body of the ticket. Please submit patches as attachments, or check your changes into your clone on GitHub and create a push request. <b>The ticket system is for bug reports and feature requests only.</b><% end %>

<% paragraph 'Discussion Groups' do %><% end %>
<ul>
	<li><a href="http://groups.google.com/group/livepipe">LivePipe UI Core</a> - Patches, releases and development of LivePipe UI. <b>Do not post support questions.</b></li>
	<li><a href="http://groups.google.com/group/livepipe-ui-users">LivePipe UI Users</a> - Support, general questions, announcements and general discussion.</li>
</ul>
